= form_for @station do |f|
  - if @station.errors.any?
    #error_explanation
      %h2= "#{pluralize(@station.errors.count, "error")} prohibited this station from being saved:"
      %ul
        - @station.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :zone
    = f.select :zone do
      - (1..6).each do |zone_num|
        = content_tag(:option, zone_num, value: zone_num)
  .field
    = f.label :order
    = f.number_field :order
  .actions
    = f.submit 'Save'
