- if @trains.blank?
  = form_tag('/trip', method: :get) do
    .div-group
      = label_tag :s1, 'Departing:'
      = select_tag(:s1, options_for_select(@stations), class: 'form-control')
    .div-group
      = label_tag :s2, 'Destination:'
      = select_tag(:s2, options_for_select(@stations), class: 'form-control')
    .form-control
      = submit_tag 'Get Trains'

- else
  %table.table.table-striped
    %tr
      %th Train number
      %th= @start.name
      %th= @ending.name
    - @trains.each do |train|
      %tr
        %td= link_to train.number, train
        %td= Stop.where(train: train, station: @start).first.time
        %td= Stop.where(train: train, station: @ending).first.time
