- if @trains.blank?
  = form_tag('/trip', method: :get) do
    .form-group
      = label_tag :s1, 'Departing:'
      = select_tag(:s1, options_for_select(@stations), class: 'form-control')
    .form-group
      = label_tag :s2, 'Destination:'
      = select_tag(:s2, options_for_select(@stations), class: 'form-control')
    = submit_tag 'Get Trains', class: 'btn btn-info'

- else
  %table.table.table-striped
    %tr
      %th Train number
      %th= @start.name
      %th= @ending.name
    - @trains.each do |train|
      %tr
        %td= link_to train.number, train
        %td= train.stop_for(@start).display_time
        %td= train.stop_for(@ending).display_time
