!!!
%html{ 'xml:lang' => :en, lang: :en, xmlns: 'http://www.w3.org/1999/xhtml' }
  %head
    %title Caltrain
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button{ type: :button, class: "navbar-toggle collapsed",
                   'data-toggle' => 'collapse',
                   'data-target' => '#navbar-collapse' }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Caltrain', '#', :class => 'navbar-brand'
        .collapse.navbar-collapse#navbar-collapse
          %ul.navbar-nav.nav
            %li.active
              = link_to 'Schudules', '#'
            %li.dropdown
              = link_to 'Tools <b class="caret"></b>'.html_safe, '#',
                        { :class => "dropdown-toggle", 'data-toggle' => "dropdown" }
              %ul.dropdown-menu
                %li= link_to 'Trains', trains_path, { 'tabindex' => '-1' }
                %li= link_to 'Stations', stations_path, { 'tabindex' => '-1' }
                %li= link_to 'Full Schedules', '#', { 'tabindex' => '-1' }
                %li= link_to 'Caltrain Website','#', { 'tabindex' => '-1' }
                %li= link_to 'Caltrain Twitter', '#', { 'tabindex' => '-1' }
    .container{ id: [params[:controller], '_', params[:action]].join, style: 'margin-top: 60px;' }
      - if notice.present? || alert.present?
        .alert.alert-warning
          %button.close{ type: :button, 'data-dismiss' => :alert } &times;
          = notice
          = alert
      .row= yield
  #footer
    Developed and Maintained by #{mail_to 'mailto:bhaberer@gmail.com', 'Brian Haberer', encode: :javascript }.
